#################################################
# VARIABLES DE ENTORNO
#################################################

.env
.env.*
!.env.example

#################################################
# MAVEN
#################################################

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

#################################################
# JAVA
#################################################

*.class
*.jar
*.war
*.ear

#################################################
# LOGS
#################################################

*.log
logs/

#################################################
# VS CODE
#################################################

.vscode/

#################################################
# INTELLIJ IDEA
#################################################

.idea/
*.iml

#################################################
# ECLIPSE
#################################################

.project
.classpath
.settings/

#################################################
# NETBEANS
#################################################

nbproject/private/
build/
dist/
nbbuild/
nbdist/

#################################################
# WINDOWS
#################################################

Thumbs.db
Desktop.ini

#################################################
# MAC
#################################################

.DS_Store

#################################################
# QODO
#################################################

.qodo/

#################################################
# TEMPORALES
#################################################

tmp/
temp/
*.tmp

#################################################
# JAVAFX
#################################################

out/

#################################################
# SPRING BOOT
#################################################

application-local.properties
application-dev.properties

#################################################
# ARCHIVOS DE PRUEBA
#################################################

*.seed
*.bak
*.old